##### powershell variables #####

# custom RSS channel name displayed in RSS feed
$channel_name = "New file changes on local Raspberry Pi"

# custom RSS channel description displayed in RSS feed
$channel_description = "Feed for file changes on local Pi."

# temporary file, where the log order gets fixed, it will automatically be created and deleted later on
$tmp_inverted_inotify_log = "/home/pi/file-change-rss/tmp/inverted_inotify_log.txt"

# temporary file, where only RSS items (without other necessary tags) are saved, it will automatically be created and deleted later on
$tmp_RSS_items = "/home/pi/file-change-rss/tmp/tmp_RSS_items.txt" 

# output path of the final/finished RSS feed (ideally put on webserver, so you can access it with an RSS feed reader)
$RSS_output_file = "/home/pi/file-change-rss/log/file-change-rss-feed.txt" 



##### bash variables #####

# folder to monitor for file changes
FOLDERTOMONITOR="/home/pi/media/USB/monitor"



##### powershell and bash variables #####
# path of inotify log export, used as import for the RSS conversion
# both variables MUST contain the exact same path/string
$inotify_log = "/home/pi/file-change-rss/log/inotify_log.txt"
INOTIFY_LOG="/home/pi/file-change-rss/log/inotify_log.txt"